# Database
database/storage/*
!database/storage/.keep

# App
app/app/database_info.php
app/app/public/*
app/app/public/.*
!app/app/public/.keep
app/app/images/templateImages/*
!app/app/images/templateImages/03d7a9338134b08c0bf7e04da681248d.jpg
!app/app/images/templateImages/0e1b15f076088230505a14c5a6e010c0.jpg
!app/app/images/templateImages/105137c8ec469aecd387cef6ef807dc0.jpg
!app/app/images/templateImages/13c1b7bc8db4c3b19610d807f04ff494.jpg
!app/app/images/templateImages/191facb41d45e460a6ffd518f6935004.jpg
!app/app/images/templateImages/257aeaa17021b2cf1433c5600b6afbd9.jpg
!app/app/images/templateImages/26d1b1d4031cb69cdb0aae9dc1139d94.jpg
!app/app/images/templateImages/282c71755172cd82cd4a83136fbb1225.jpg
!app/app/images/templateImages/2944e5b57f856a4cc9e89b5b55db0bf8.png
!app/app/images/templateImages/2c0c4c970a3905365785c4e675f88e54.jpg
!app/app/images/templateImages/47618b55d38fcaf9ad73be0ead312d68.jpg
!app/app/images/templateImages/77b713e6b5bb32546606e9ad8cc14782.png
!app/app/images/templateImages/79420626b2b0a18d9a982a62b846890c.png
!app/app/images/templateImages/7ae4f0a4040a7fe8f3a823b167952f26.jpg
!app/app/images/templateImages/86257b172c9a706aa704abfdad4de53c.jpg
!app/app/images/templateImages/93c68d70070b0ccb5645bd6bfd53c89b.jpg
!app/app/images/templateImages/93f7ecd15dc20340f50633ed1bf2efb4.jpg
!app/app/images/templateImages/9e45f3ef656c9fe8bb3130a9ec0ef478.jpg
!app/app/images/templateImages/ab97c853ba94a8ebb9d950f6867601de.jpg
!app/app/images/templateImages/af53fe2c8ca14c1837d4359fb5ebfd45.png
!app/app/images/templateImages/c4e7eb2d860f17b94042199509ca4b28.jpg
!app/app/images/templateImages/e7808625196011cc7a675eff363483e9.jpg
!app/app/images/templateImages/f782af8c83a096a188ba333d0039aaf7.jpg
app/app/images/floorplanImages/*
!app/app/images/floorplanImages/floorplan-default.png

# NGINX
nginx/cert/*
!nginx/cert/.keep
nginx/key/*
!nginx/key/.keep